@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat_Bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

.book-btn{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    float: right;
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5%;
    transition: 1s;
}

.a-center{
    color: black;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: 'Montserrat', sans-serif;
}

.a-left{
    margin-left: 20%;
}

.a-center:hover{
    color: #2d74ba;
    transition: 0.9s;
}

.book-btn:hover{
    background-color: white;
    color: #2d74ba;
    transition: 1s;
}

.bold-text{
  font-family: 'Montserrat_Bold', sans-serif;
  text-align: center;
  margin-top: 90px;
}

.blue-word{
    color: #2d74ba;
}

.view-car{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    margin-left: 35%;
    transition: 1s;
}

.view-car:hover{
    background-color: white;
    color: #2d74ba;
    transition: 1s;
}

.contactus-btn{
    border: 1px solid #2d74ba;
    background-color: white;
    color: #2d74ba;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    margin-left: 30px;
    transition: 1s;
}

.contactus-btn:hover{
    background-color: #2d74ba;
    color: white;
    transition: 1s;
}

.map-bg{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: -1;
}

.cars3{
    width: 100%;
    margin-top: 40px;
}

.location{
    font-family: 'Montserrat', sans-serif;
    background-color: #e6edf0;
    border-radius: 20px;
    margin: 0 40px 20px 40px;
    display: flex;
}

.location-texts{
    display: flex;
    flex-direction: column;
}

.first-p{
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
}

.second-p{
    padding-left: 20px;
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}

.line{
    margin-left: 37%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.time{
    margin-top: 30px;
    padding: 0;
}

.time-image{
    height: 30px;
    margin-top: 23px;
    margin-left: 10px;
}

.line2{
    margin-left: 480px;
}

.search-btn{
    margin-left: 43%;
}

.all-box{
    display: flex;
    margin-top: 90px;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.first-box{
    border: 1px solid #daedf3;
    background-color: #daedf3;
    border-radius: 5%;
    flex: 1;
    max-width: 300px;
    padding: 0 40px 0 40px;
    margin-left: 30px;
}

.first-box h2{
    color: black;
    font-family: 'Montserrat_Bold', sans-serif;
    text-align: center;
}

.first-box p{
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.second-box{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    border-radius: 5%;
    flex: 1;
    max-width: 300px;
    padding: 0 40px 0 40px;
    margin-left: 30px;
}

.second-box h2{
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-align: center;
}

.second-box p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.top-cars{
    margin-top: 60px;
    margin-left: 30px;
}

.top-cars h1{
    font-family: 'Montserrat_Bold', sans-serif;
}

.top-cars p{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    width: 40%;
    float: left;
    clear: both;
}

.see-all-cars-btn{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    float: right;
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    border-radius: 5%;
    transition: 1s;
    clear: both;
}

.all-box2{
    margin-top: 40px;
}

.car1{
    background-color: #e6edf0;
    margin-left: 30px;
    border-radius: 5%;
    cursor: pointer;
    transition: 1s;
}

.car1 img{
    width: 388px;
    height: 388px;
}

.car1 h2{
    font-family: 'Montserrat_Bold', sans-serif;
    margin: 0 0 0 10px;
}

.car1 p{
    font-family: 'Montserrat', sans-serif;
    margin: 7px 0 0 10px;
}

.icons{
    display: flex;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-left: 10px;
}

.icons h3{
    margin-top: 0;
}

.starts-from{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 10px;
}

.cost{
    font-family: 'Montserrat', sans-serif;
    margin: 7px 0 0 10px;
    display: inline;
}

.book-btn-boxs{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    float: right;
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    transition: 1s;
}

.car1:hover{
    background-color: #2d74ba;
    color: white;
    transition: 1s;
}

.car1:hover .book-btn-boxs{
    background-color: white;
    color: #2d74ba;
}

.half-car{
    margin-top: 100px;
    float: left;
    clear: both;
    display: flex;
}

.half-car img{
    width: 620px;
}

.half-car-texts h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
    font-size: 38;
    margin-right: 10px;
    margin-bottom: 0;
}

.half-car-texts p{
    color: gray;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.options{
    float: left;
}

.options h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.global-network{
    float: left;
    margin-left: 100px;
}

.global-network h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.clearfix{
    clear: both;
}

.about-us{
    border: 1px solid #2d74ba;
    background-color: #2d74ba;
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    transition: 1s;
    margin-left: 620px;
}

.about-us:hover{
    background-color: white;
    color: #2d74ba;
    transition: 1s;
}

.top-car-fix{
    margin-top: 100px;
}

.all-box-body{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 25px;
}

.electric-car{
    background-color: #e6edf0;
    margin-left: 10px;
    border-radius: 5%;
    cursor: pointer;
    transition: 1s;
}

.electric-car-first{
    margin-left: 50px;
}

.electric-car h3{
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}

.electric-car img{
    width: 390px;
    height: 220px;
}

.electric-car:hover{
    background-color: #2d74ba;
    color: white;
}

.move-logo-box{
    width: 100%;
    overflow: hidden;
    background-color: #e6edf0;
    padding: 10px 0;
    margin-top: 50px;
}

.move-logo{
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite;
}

.logo{
    width: 100px;
    margin: 0 50px;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.flesh-icon{
    font-size: 40px;
    margin-right: 50px;
    float: right;
    color: #2d74ba;
    background-color: white;
    cursor: pointer;
    transition: 1s;
    border-radius: 5%;
}

.flesh-edit{
    margin-right: 10px;
}

.all-box-customers{
    display: flex;
    justify-content: flex-start;
}

.customers{
    background-color: #e6edf0;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 20px;
}

.woman-img{
    display: block;
    margin-bottom: 10px;
    margin-left: 60px;
}

.p-customers{
    color: gray;
}

.edit-box{
    margin-top: 30px;
}

.img-container{
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
}

.img-edit{
    width: 375px;
    height: 215px;
    transition: transform 0.8s ease;
    object-fit: cover;
}

.img-edit:hover{
    transform: scale(1.2);
}

.h3-blogs{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.9s;
}

.contactus-btn-edit{
    margin-left: auto;
}

.p-customers-edit{
    margin-bottom: 40px;
}

.body-box{
    margin-left: 20px;
}

.body-box:hover .h3-blogs{
    color: #2d74ba;
}

.book-car{
    background-color: #e6edf0;
    margin-top: 70px;
    height: 112%;
}

.book-car img{
    width: 700px;
    height: 300px;
    display: block;
    padding-top: 250px;
    float: left;
    clear: both;
}

.book-car h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    text-align: center;
}

.p-book{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
}

.inputs{
    border: 1px solid white;
    background-color: white;
    border-radius: 12px;
    padding: 15px 15px 15px 15px;
    outline: none;
    width: 600px;
    margin-top: 20px;
}

.inputs-edit{
    margin-top: 30px;
}

details{
    width: 600px;
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid white;
    border-radius: 12px;
    background-color: white;
    position: relative;
    margin-right: 25px;
    margin-top: 30px;
    color: gray;
    margin-left: 700px;
}

summary{
    padding: 10px;
    cursor: pointer;
    list-style: none;
    outline: none;
}

details[open] summary::after{
    content: "▲";
    color: #2d74ba;
}

summary::after{
    content: "▼";
    color: #2d74ba;
    padding-left: 75%;
}

.car-options{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid white;
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.car-options li{
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
    color: #2d74ba;
}

.car-options li:hover{
    background-color: #2d74ba;
    color: white;
}

.location-img{
    background-image: url("../pictures/location2.png");
    background-size: 20px 20px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    position: relative;
}

.end-inputs{
    width: 280px;
}

.calendar-img{
    background-image: url("../pictures/calendar.png");
    background-size: 20px 20px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 30px;
}

.book-btn-edit{
    margin-right: 200px;
    margin-top: 30px;
}

.end-box{
    background-color: #2d74ba;
    display: flex;
    justify-content: flex-start;
}

.end-location{
    padding-top: 20px;
    padding-left: 50px;
}

.end-p-location{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.end-location-h4{
    color: white;
    font-family: 'Montserrat_Bold', sans-serif;
}

.end-inputs2{
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
}

.input-icon{
    position: absolute;
    transform: translateY(85%);
    right: 76%;
    color: #2d74ba;
    cursor: pointer;
}

.quick-links{
    margin-left: 140px;
}

.quick-links a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.quick-links p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 20px;
}

.img-link img{
    cursor: pointer;
    margin-left: 8px;
}